<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>APIEndPoint</key>
		<string>http://64.150.183.17:1038/lagoon/api/</string>
		<key>LoggingEnabled</key>
		<string>YES</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>APIEndPoint</key>
		<string>http://64.150.183.17:1038/lagoon/api/</string>
		<key>LoggingEnabled</key>
		<string>YES</string>
	</dict>
</dict>
</plist>
